@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  background-color: #0b1020;
  color: #e2e8f0;
}
